/* Web Fonts @import */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Didact+Gothic&display=swap");

/* BASIC STYLING
-------------------------------- */
/* Colors */
:root {
  --color-bg: #151f2c;
  --color-bg-85: #151f2c85;
  --color-bg-darker: #090f18;
  --color-text: #fff;
  --color-text2: #eee;
  --color-primary: #34bfde;
  --color-secondary: #2e7b9e;
  --color-accent: #bdd0d9;
  --color-hover-primary: #2998b1;
  --color-hover-secondary: #225972;
  --color-hover-accent: #8a989e;
  --color-font-details: #9e9e9e;
  --font1: "Comfortaa", sans-serif;
  --font2: "Didact Gothic", sans-serif;
}

/* ================================================== */

/* Clearfix
-------------------- */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

* html .group {
  zoom: 1;
}

/* IE6-IE7 */
*:first-child + html .group {
  zoom: 1;
}

/* General styling
-------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font: 1.6em var(--font2);
  line-height: 1.5;
}

header,
.main,
footer {
  max-width: 81em;
  margin: 0 auto;
}

.fa-solid {
  margin-left: 7px;
  transform: translateY(1px);
}

a {
  text-decoration: none;
  color: var(--color-accent);
}

/* Header
-------------------- */
.header-wrapper {
  background: var(--color-bg-darker);
}

header {
  padding: 20px;
  background: var(--color-bg-darker);
  display: grid;
  align-items: center;
}

header h1,
header .logo,
header hgroup {
  position: relative;
  margin: 0 auto;
}

header .logo {
  max-width: 125px;
  border-radius: 25px;
}

header h1 {
  text-indent: -9999px;
  font: bold 3em/1 var(--font1);
  color: var(--color-text);
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: 0.75em;
}

header h2 {
  font: bold 1.6em var(--font1);
  color: var(--color-text);
}

header h3 {
  font: italic 1.2em var(--font1);
  color: var(--color-text);
}

header h4 {
  font: 0.8em var(--font2);
  color: var(--color-text);
}

.project-title {
  position: relative;
  text-align: center;
}

/* Main
-------------------- */
.main {
  padding: 20px;
  background: var(--color-background-body);
}

.section-heading {
  /* e.g., h3's like "Possible colors", "Textures" */
  font: italic 1.3em var(--font1);
  color: var(--color-text2);
  margin-bottom: 0.5em;
}

.main p {
  margin-bottom: 0.5em;
}

section {
  margin-bottom: 2em;
}

/* Colors
-------------------- */
.colors ul,
.colors li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.colors li {
  width: 100%;
  display: block;
  position: relative;
  padding-left: 4rem;
  margin-bottom: 2rem;
  color: var(--color-text2);
}

.colors li:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.colors li.color-bg:before {
  background: var(
    --color-bg-darker
  ); /* Should be --color-bg but it needs to be different than the body's color to be visible */
}

.colors li.color-text:before {
  background: var(--color-text);
}

.colors li.color-text2:before {
  background: var(--color-text2);
}

.colors li.color-primary:before {
  background: var(--color-primary);
}

.colors li.color-secondary:before {
  background: var(--color-secondary);
}

.colors li.color-accent:before {
  background: var(--color-accent);
}

.colors strong {
  display: block;
}

/* Buttons
--------------------- */
[class*="button-"] {
  display: inline-block;
  position: relative;
  margin-right: 1em;
  margin-bottom: 1em;
}

.button-1 {
  padding: 1.2em 1em 1em 1em;
  border-radius: 15px;
  background: var(--color-primary);
  text-align: center;
  text-decoration: none;
  font: bold 1.25em/1 var(--font1);
  letter-spacing: 1px;
  color: var(--color-bg);
  text-transform: uppercase;
  text-shadow: 0px -1px 0px var(--color-hover-primary);
  transition: all 0.2s ease;
}

.button-1:hover {
  background: var(--color-hover-primary);
}

.button-2 {
  padding: 1.2em 1em 1em 1em;
  border-radius: 15px;
  background: var(--color-secondary);
  text-align: center;
  text-decoration: none;
  font: bold 1.25em/1 var(--font1);
  letter-spacing: 1px;
  color: var(--color-bg);
  text-transform: uppercase;
  text-shadow: 0px -1px 0px var(--color-hover-secondary);
  transition: all 0.2s ease;
}

.button-2:hover {
  background: var(--color-hover-secondary);
}

/* Typography samples
--------------------- */
.typography-samples {
  background: var(--color-background-body);
  padding: 0;
}

@media (min-width: 50em) {
  .typography-samples {
    padding: 20px;
  }
}
h3.typography-sample {
  font: bold 2.7em/1.25 var(--font1);
  margin-bottom: 0.25em;
  color: var(--color-text);
}

h4.typography-sample {
  font: italic 1.5em/1.25 var(--font2);
  margin-bottom: 0.25em;
  color: var(--color-text);
}

p.typography-sample {
  font: 1em/1.5 var(--font2);
  color: var(--color-text2);
}

p.typography-sample strong {
  font-weight: bold;
}

p.typography-sample em {
  font-style: italic;
}

a.typography-sample {
  font: 1em var(--font2);
  font-weight: 600;
  color: var(--color-accent);
  text-decoration: underline;
}

a.typography-sample:hover {
  color: var(--color-hover-accent);
  transition: all 0.3s ease;
}

p[class*="font-details-"] {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font: 0.75em/1 var(--font2);
  color: var(--color-font-details);
}

p[class*="font-details-"] .font-color {
  font-style: italic;
}

/* Logo
-------------------- */

.logo-variants-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}

.logo-variant1,
.logo-variant2,
.logo-variant3 {
  width: 100%;
  max-width: 225px;
  border-radius: 25px;
}

/* Medium screens */
@media screen and (min-width: 768px) {
  .logo-variants-grid {
    gap: 30px;
  }

  .logo-variant1 {
    max-width: 225px;
  }

  .logo-variant2,
  .logo-variant3 {
    max-width: 100px;
  }
}

/* Large screens */
@media screen and (min-width: 1024px) {
  .logo-variants-grid {
    gap: 50px;
  }
}

/* Components
-------------------- */

.components {
  padding: 25px;
}

.object,
.console {
  border-style: solid;
  margin: 15px;
  border-width: 10px;
  border-color: var(--color-bg-darker);
  padding: 15px;
  box-sizing: border-box;
  max-width: 90vw !important;
}

iframe {
  width: 100%;
  max-width: 365px;
  height: auto;
  aspect-ratio: 365 / 815;
  border: none;
  display: block;
  margin: auto;
}

.iframe-console {
  max-width: 100vw !important;
  max-height: 90vh;
}

.object-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .object-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .object-list {
    grid-template-columns: 1fr;
  }
}

/* Footer
-------------------- */
.footer-wrapper {
  background: var(--color-bg-darker);
}

footer {
  padding: 20px;
  font: italic 1em/1.5 var(--font1);
  color: var(--color-text2);
}

footer a {
  font: italic 1em/1.5 var(--font2);
  font-weight: 600;
  color: var(--color-accent);
  text-decoration: none;
}

/* Grids
based on Chris Coyier's Dont Overthink It Grids
https://css-tricks.com/dont-overthink-it-grids/
-------------------- */
[class*="col-"] {
  float: left;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-2 {
  width: 100%;
  /* Single-column by default, i.e., on mobile */
}

/* Media Queries
-------------------- */

@media (min-width: 50em) {
  .col-1-2 {
    /* 2-column if viewport is wide enough*/
    width: 50%;
  }
}
.col-1-3 {
  width: 100%;
}

@media (min-width: 50em) {
  .col-1-3 {
    width: 33.3333%;
  }
}
[class*="col-"] {
  padding: 0;
}

@media (min-width: 50em) {
  [class*="col-"] {
    padding-left: 30px;
  }
}
[class*="col-"]:first-child {
  padding-left: 0;
}

@media screen and (min-width: 400px) {
  header .project-title {
    margin-top: 25px;
    text-align: start;
  }
  header .project-title h2,
  header .project-title h4 {
    margin: 5px;
  }
}

@media screen and (min-width: 550px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  header .project-title {
    margin: 0;
  }
  .logo-variants-grid {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .colors li {
    display: inline-block;
    width: 49%;
  }
  .logo {
    margin: 0 !important;
  }
}

@media screen and (min-width: 800px) {
  .logo-variants-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .colors li {
    display: block;
    width: 100%;
  }
  hgroup {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .colors li {
    display: inline-block;
    width: 49%;
  }
}
